数字化工厂项目模板/ProjectCode/WIPDigitalFactory/WIP_PFMD/Connected Services/GEBF/IBrilliantFactory15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Proficy:Events:2009" elementFormDefault="qualified" targetNamespace="urn:Proficy:Events:2009" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://shaocx:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.Events" />
  <xs:import schemaLocation="https://shaocx:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.Types" />
  <xs:import schemaLocation="https://shaocx:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.MobileObject" />
  <xs:element name="OnSubscriptionStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.Events" minOccurs="0" name="eventAddress" nillable="true" type="q1:EventAddress" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.Types" minOccurs="0" name="parameters" nillable="true" type="q2:ArrayOfParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnSubscriptionStartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnSubscriptionStop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.Events" minOccurs="0" name="eventAddress" nillable="true" type="q3:EventAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnSubscriptionStopResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnManualTriggerEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.Events" minOccurs="0" name="eventAddress" nillable="true" type="q4:EventAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnManualTriggerEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.MobileObject" minOccurs="0" name="OnManualTriggerEventResult" nillable="true" type="q5:ArrayOfMobileMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>