数字化工厂项目模板/ProjectCode/WIPDigitalFactory/WIP_PFMD/Connected Services/GEBF/IBrilliantFactory10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Proficy.Platform.Core.ProficySystem.Types.Client" elementFormDefault="qualified" targetNamespace="Proficy.Platform.Core.ProficySystem.Types.Client" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MobileObjectData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ObjectType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
      <xs:element minOccurs="0" name="StorageContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StorageBytes" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MobileObjectData" nillable="true" type="tns:MobileObjectData" />
</xs:schema>