数字化工厂项目模板/ProjectCode/WIPDigitalFactory/WIP_PFMD/Connected Services/GEBF/IBrilliantFactory5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BrilliantFactory.Interfaces.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BrilliantFactory.Interfaces.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonalProperties">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonalProperties" nillable="true" type="tns:PersonalProperties" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonalProperties" nillable="true" type="tns:ArrayOfPersonalProperties" />
  <xs:complexType name="PersonalProperties">
    <xs:sequence>
      <xs:element minOccurs="0" name="bVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="pName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalProperties" nillable="true" type="tns:PersonalProperties" />
</xs:schema>