数字化工厂项目模板/ProjectCode/WIPDigitalFactory/WIP_PFMD/Connected Services/GEBF/IBrilliantFactory6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.Folders.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.Folders.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://shaocx:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.Types" />
  <xs:complexType name="FolderAttributes">
    <xs:sequence>
      <xs:element minOccurs="0" name="_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_descriptionSet" type="xs:boolean" />
      <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_nameSet" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FolderAttributes" nillable="true" type="tns:FolderAttributes" />
  <xs:complexType name="DuplicateFolderFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.Types" minOccurs="0" name="_parentFolder" nillable="true" type="q1:DirectoryResource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DuplicateFolderFault" nillable="true" type="tns:DuplicateFolderFault" />
  <xs:complexType name="InvalidContentFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="_contentResourceName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.Types" minOccurs="0" name="_folderResource" nillable="true" type="q2:DirectoryResource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidContentFault" nillable="true" type="tns:InvalidContentFault" />
  <xs:complexType name="CircularHierarchyFault">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.Types" minOccurs="0" name="_folder" nillable="true" type="q3:DirectoryResource" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.Types" minOccurs="0" name="_parentFolder" nillable="true" type="q4:DirectoryResource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CircularHierarchyFault" nillable="true" type="tns:CircularHierarchyFault" />
</xs:schema>