数字化工厂项目模板/ProjectCode/WIPDigitalFactory/WIP_PFMD/Connected Services/GEBF/IBrilliantFactory18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.DOR" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.DOR" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://shaocx:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.XmlItems" />
  <xs:import schemaLocation="https://shaocx:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.MobileObject" />
  <xs:import schemaLocation="https://shaocx:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.DOR.Interfaces" />
  <xs:import schemaLocation="https://shaocx:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://shaocx:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DefaultAttributeNode">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.XmlItems" minOccurs="0" name="_attributeList" nillable="true" type="q1:XmlItemList" />
      <xs:element minOccurs="0" name="_children" nillable="true" type="tns:ArrayOfDefaultAttributeNode" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.MobileObject" minOccurs="0" name="_objects" nillable="true" type="q2:CrudList" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.MobileObject" minOccurs="0" name="_associates" nillable="true" type="q3:CrudList" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.DOR.Interfaces" minOccurs="0" name="_nodeState" nillable="true" type="q4:NodeState" />
      <xs:element minOccurs="0" name="_guid" type="ser:guid" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_objectAttributesDict" nillable="true" type="q5:ArrayOfKeyValueOflongXmlItemListw_PtqQcA0" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_assocatesAttributesDict" nillable="true" type="q6:ArrayOfKeyValueOflongXmlItemListw_PtqQcA0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DefaultAttributeNode" nillable="true" type="tns:DefaultAttributeNode" />
  <xs:complexType name="ArrayOfDefaultAttributeNode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DefaultAttributeNode" nillable="true" type="tns:DefaultAttributeNode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDefaultAttributeNode" nillable="true" type="tns:ArrayOfDefaultAttributeNode" />
</xs:schema>