数字化工厂项目模板/ProjectCode/WIPDigitalFactory/WIP_Personnel/Service References/GEBF/IBrilliantFactory3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Proficy:System:2011" elementFormDefault="qualified" targetNamespace="urn:Proficy:System:2011" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://desktop-nuvt97p:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.Types" />
  <xs:import schemaLocation="https://desktop-nuvt97p:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.Folders.Interfaces" />
  <xs:element name="CreateFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.Types" minOccurs="0" name="parent" nillable="true" type="q1:DirectoryResource" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.Folders.Interfaces" minOccurs="0" name="attributes" nillable="true" type="q2:FolderAttributes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.Types" minOccurs="0" name="CreateFolderResult" nillable="true" type="q3:DirectoryResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.Types" minOccurs="0" name="folderResource" nillable="true" type="q4:DirectoryResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFolderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.Types" minOccurs="0" name="folderResource" nillable="true" type="q5:DirectoryResource" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.Folders.Interfaces" minOccurs="0" name="attributes" nillable="true" type="q6:FolderAttributes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFolderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveToFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.Types" minOccurs="0" name="folderResource" nillable="true" type="q7:DirectoryResource" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.Types" minOccurs="0" name="contentResource" nillable="true" type="q8:DirectoryResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveToFolderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentResourceSelectionMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.Types" minOccurs="0" name="contentResource" nillable="true" type="q9:DirectoryResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentResourceSelectionMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Proficy.Platform.Core.ProficySystem.Types" minOccurs="0" name="GetContentResourceSelectionMetadataResult" nillable="true" type="q10:DirectoryResourceMetadata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>